* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-links: #fff;
  --color-button: #ff4820;
}

body {
  font-family: 'Manrope', sans-serif;
  background: #040c18;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/blur-background-left.png);
  background-repeat: no-repeat;
  background-position: top left;
}

.container {
  display: flex;
  max-width: 1440px;
  margin-top: 3.438rem;
  margin-bottom: 8.438rem;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}

.menu img {
  margin-right: 4.313rem;
  width: 3.938rem;
  height: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color-links);
}

ul {
  list-style: none;
  display: flex;
  gap: 3.375rem;
}

ul li a {
  font-size: 1.125rem;
  font-weight: 500;
}

.button {
  display: flex;
  margin-left: 14.8rem;
  align-items: center;
  justify-content: center;
}

.button a {
  font-size: 1.125rem;
  font-weight: 500;
}

#button-header {
  width: 9.5rem;
  height: 3.625rem;
  background: var(--color-button);
  border: none;
  border-radius: 0.313rem;
  margin-left: 1.625rem;
}

.content {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  padding-top: 6.438rem;
}

.content-main {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 3.875rem;
  font-weight: 800;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #81afdd;
  padding-top: 2.063rem;
  padding-bottom: 3.25rem;
  max-width: 554px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  color: #3d6184;
  padding-left: 2rem;
  font-size: 1.25rem;
  outline: none;
}

.title input {
  border: none;
  width: 39.375rem;
  height: 3.938rem;
  background: #052d56;
  opacity: 0.5;
}

.input button {
  width: 10.875rem;
  height: 100%;
  background: var(--color-button);
  border: none;
  border-radius: 0.313rem;
  color: var(--text-color-links);
  font-weight: 700;
  font-size: 1.25rem;
}

.image-content img {
  width: 41.75rem;
  height: 43.75rem;
  transform: translate(16%, -15%);
}

.persons {
  width: 100%;
  display: flex;
  margin-top: 2.375rem;
  align-items: center;
}

.persons p {
  font-size: 0.75rem;
  color: var(--text-color-links);
  margin-left: 0.875rem;
}

.companies {
  padding: 4.938rem 0 7.938rem 0;
}

.logos {
  display: flex;
  gap: 2.938rem;
}

.infos {
  max-width: 1170px;
  background-image: url(assets/blur-infos-top-left.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  background-color: #042c54;
}

.infos::after {
  content: '';
  background-image: url(assets/blur-info-right-bottom.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

section {
}

hr {
  width: 2.375rem;
  height: 0.188rem;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  border: 0;
  margin-bottom: 0.625rem;
}

.header-info {
  display: flex;
  padding: 3.563rem 4.563rem 1.875rem 4.563rem;
}

.title-info {
  font-size: 1.5rem;
  color: var(--text-color-links);
  font-weight: 800;
  margin-right: 9.625rem;
  width: 100%;
}

.subtitle-info {
  color: #81afdd;
}

.middle-info {
  display: flex;
  padding: 0 3.563rem 5.75rem 3.563rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.title-middle {
  font-size: 2.125rem;
  font-weight: 800;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 29.375rem;
}

.subtitle-middle {
  font-size: 1rem;
  font-weight: 500;
  color: #ff8a71;
  margin-left: auto;
}

.footer-info {
  display: flex;
  width: 100%;
  padding: 0 3.563rem 3.938rem 3.563rem;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-color-links);
  margin-bottom: 1.625rem;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #81afdd;
}

.chatbots,
.knowledgebase,
.education {
  max-width: 334px;
}
