* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-links: #fff;
  --color-button: #ff4820;
}

body {
  font-family: 'Manrope', sans-serif;
  background: #031834;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  max-width: 1440px;
  margin-top: 3.438rem;
  margin-bottom: 8.438rem;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}

.menu img {
  margin-right: 4.313rem;
  width: 3.938rem;
  height: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color-links);
}

ul {
  list-style: none;
  display: flex;
  gap: 3.375rem;
}

ul li a {
  font-size: 1.125rem;
  font-weight: 500;
}

.button {
  display: flex;
  margin-left: 14.8rem;
  align-items: center;
  justify-content: center;
}

.button a {
  font-size: 1.125rem;
  font-weight: 500;
}

#button-header {
  width: 9.5rem;
  height: 3.625rem;
  background: var(--color-button);
  border: none;
  border-radius: 0.313rem;
  margin-left: 1.625rem;
}

.content {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  padding-top: 6.438rem;
}

.content-main {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 3.875rem;
  font-weight: 800;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #81afdd;
  padding-top: 2.063rem;
  padding-bottom: 3.25rem;
}

.title input {
  border: none;
  width: 39.375rem;
  height: 3.938rem;
}

.input button {
  width: 10.875rem;
  height: 4.563rem;
  background: var(--color-button);
  border: none;
  border-radius: 0.313rem;
  position: absolute;
}

.image-content img {
  width: 41.75rem;
  height: 43.75rem;
}
